<!doctype html>
<html lang="en" ng-app="angularTraining">
<head>
  <meta charset="utf-8">
  <title>AngularJS Training</title>
  <script src="../node_modules/angular/angular.js"></script>
  <link rel="stylesheet" href="./css/index.css"/>
</head>
<body>
    <header class="angular-training-header">
        AngularJS Training
    </header>

    <main class="angular-training-main" ng-controller="AngularTrainingController">
        <h2>Search: <input ng-model="query"></h2>

        <li ng-repeat="repo in gitRepos | filter: {name: query}">
            <a href={{repo.html_url}}>{{repo.name}}</a>
        </li>
    </main>

    <script src="js/controller.js"></script>
</body>
</html>
